
html
body {
    margin: 0;
    height: 100%;
    background-color: black;
}

.container {
    display: flex;
    height: 100%;
}

.lofi {
    min-height: 100vh;
}

.text {
    margin-top: 8em;
}

.sidebar-body {
    position: absolute;
    width: 450px;
    background: black;
    opacity: 0.4;
    top: 8rem;
    /* text-align: center; */
    font-size: 1.2em;
    color:white;
}

.odin {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    width: 400px;
    margin-bottom: 1em;
    border: 2px solid gray; 
    border-radius: 4px;;
    background: black;
    color: white;
    padding-left: 5px;
}

.fn {
    float: left;
    margin-right: 20px;    
}

.ln {
    float: left;
    margin-right: 20px;
}

.pass{
    float: left;
    margin-right: 20px;
}

/* input {
    border: 2px solid gray; 
    border-radius: 4px;;
    background: black;
    color: white;
    padding-left: 5px;
} */

input:focus {
   outline-color: #FF1493;
   color: transparent white;
   
}

form {
    margin: 2em;
}

.btn {
    margin-top: 2em;
    margin: 2em;
}
/* input,
label {
    display: block;
    margin: 1em;
    width: 300px;
} */

label {
    font-family: 'Cormorant SC', serif; 
    color: white;
    font-size: 13px;
    width: 400px;
}

p {
    margin: 2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #EDEADE;
}

.account {
    line-height: 60px;
    text-align: center;
    color: #FF1493;
    margin: 2em;
    border: 3px solid #FF1493;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    width: 200px;
    height: 60px;
}

.account:hover {
    background-color: #FF1493;
    color: black;
}

.login {
    font-size: 1em;
    color: #FF1493;
}

.login:hover {
    color: white;
}
/* input {
    width: 400px;
    margin-top: 1em;
} */

@media only screen and (max-width: 1356px) {
    .fn {
        float: none;
        margin-right: none;
    }

    .ln {
        float: none;
        margin-right: none;
    }

    .pass {
        float: none;
        margin-right: none;
    }

    .lofi {
        min-height: 100%;
    }

}